.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
build.gradle
gradle.properties
gradlew

settings.gradle
gradle/wrapper/gradle-wrapper.properties
app/build.gradle
local.properties
app/proguard-rules.pro